In [5]:
from collections import Counter

def most_frequent_chars(st):
    st = st.replace(" ", "")

    counter = Counter(st)

    most_common = counter.most_common(3)

    return most_common

st = "aabbbcc cd"
result = most_frequent_chars(st)

print(result)

[('b', 3), ('c', 3), ('a', 2)]

In [5]:
def search_substr(subst, st):

    if subst.lower() in st.lower():
        return "Есть контакт!"
    else:
        return "Мимо!"

subst = "abc"
st = "AbCdef"
result = search_substr(subst, st)
print(result)

Есть контакт!

In [4]:
from collections import Counter

def count_it(sequence):
    counter = Counter(sequence)

    counter = {int(key): value for key, value in counter.items()}

    most_common = dict(Counter(counter).most_common(3))

    return most_common

sequence = "123312112233"
result = count_it(sequence)

print(result)

{1: 4, 2: 4, 3: 4}

In [3]:
def split_string_to_words(s):
    return s.split()

example = "Robin Singh"
result = split_string_to_words(example)

print(result)

['Robin', 'Singh']

In [6]:
def litres(time):
    return int(time * 0.5)

time = 3
result = litres(time)
print(f"Litres: {result}")

time = 6.7
result = litres(time)
print(f"Litres: {result}")

time = 11.8
result = litres(time)
print(f"Litres: {result}")

Litres: 1
Litres: 3
Litres: 5

In [7]:
def reverse_sequence(n):
    return list(range(n, 0, -1))

n = 5
result = reverse_sequence(n)
print(result)

[5, 4, 3, 2, 1]

In [8]:
def get_century(year):
    return (year + 99) // 100

print(get_century(1705))
print(get_century(1900))
print(get_century(1601))
print(get_century(2000))

18
19
17
20

In [9]:
def digitize(n):
    return [int(digit) for digit in str(n)][::-1]

print(digitize(35231))
print(digitize(0))
print(digitize(987654321))

[1, 3, 2, 5, 3]
[0]
[1, 2, 3, 4, 5, 6, 7, 8, 9]